[Unit]
Description=multicraft
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/home/USER/Desktop/
ExecStart=/bin/bash /home/USER/Desktop/multicraft.sh

[Install]
WantedBy=multi-user.target

